/* font */
@font-face {
    font-family: "vazir";
    src: url("../fonts/Vazir-Thin-FD-WOL.ttf"), url("../fonts/Vazir-Thin.ttf");
    font-weight: 1;
}

@font-face {
    font-family: "vazir";
    src: url("../fonts/Vazir-Light-FD-WOL.ttf"), url("../fonts/Vazir-Light.ttf");
    font-weight: 2;
}

@font-face {
    font-family: "vazir";
    src: url("../fonts/Vazir-FD-WOL.ttf"), url("../fonts/Vazir.ttf");
    font-weight: 3;
}

@font-face {
    font-family: "vazir";
    src: url("../fonts/Vazir-Medium-FD-WOL.ttf"), url("../fonts/Vazir-Medium.ttf");
    font-weight: 4;
}

@font-face {
    font-family: "vazir";
    src: url("../fonts/Vazir-Bold-FD-WOL.ttf"), url("../fonts/Vazir-Bold.ttf");
    font-weight: 5;
}

/* font-end */


/* all */
/* scroll form */
* {
    font-family: "vazir";
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #39393945;
}

/* scroll form-end */

/* product-card */
.card {
    margin:10px;
    flex-basis: 250px;
    flex-shrink: 0;
    flex-grow: 0;
}

.card img {
    width: 60%;
}

.card .nav-pane:first-child {
    height: 210px;
}

.card .nav-pane div {
    text-align: justify;
}

.card .nav-pane:last-child {
    position: absolute;
    overflow: scroll;
    right: 0;
    top: 60px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.card .btn {
    bottom: 0;
    left: 0;
    z-index: 1;
}

/* product-card-end */
/* all-end */


/* main */
#top-offer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 2px solid rgba(43, 43, 43, 0.1);
    border-bottom: 2px solid rgba(43, 43, 43, 0.1);
    overflow: hidden;
}

.scroll-part {
    overflow: scroll;
    display: flex;
    width: calc(100% * 2);
    height: 320px;
}

#all-product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-top: 2px solid rgba(43, 43, 43, 0.1);
    border-bottom: 2px solid rgba(43, 43, 43, 0.1);
}
/* main-end */


/* media query */
@media screen and (max-width:700px) {
    /* all */
    *{
        font-size: 16px;
    }
    /* product-card */
    .scroll-part>.card {
        flex-basis: 200px;
    }
    /* product-card-end */
    /* all-end */
}

@media screen and (max-width:400px) {
    #banner-img-top span:first-child {
        display: none;
    }

}


/* media query-end */